## 1/1/2019

In [14]:
num = int(input("Enter: "))
i=1
while(i<=num):
    print(" "*(num-i),"*"*(2*i-1))
    i += 1
print("Finished")

Enter: 6
      *
     ***
    *****
   *******
  *********
 ***********
Finished

In [9]:
i=1
while(i<=5):
    #print("Executing for i={}".format(i),"\nIndia")
    print("india "*i)
    i+=1
print("End of program...")

india
india india
india india india
india india india india
india india india india india
End of program...

In [8]:
n = int(input("Enter odd: "))
while(n%2==0):
    n = int(input("Enter odd: "))
i = 1
m=(n+1)//2
while(i<=n):
    if(i>m):
        b=n-i
        s=2*(i-m)+1
    else:    
        b=i-1
        s=2*(m-i)+1
    i+=1
    print("."*b,"*"*s)

Enter odd: 11
 ***********
. *********
.. *******
... *****
.... ***
..... *
.... ***
... *****
.. *******
. *********
 ***********

In [7]:
or i in range(0,5):
    print('i=',i)

i= 0
i= 1
i= 2
i= 3
i= 4

In [ ]:
n = int(input("Enter odd: "))
while(n%2==0):
    n = int(input("Enter odd: "))
m=(n+1)//2
for i in range(1,n+1):
    if(i>m):
        b=n-i
        s=2*(i-m)+1
    else:
        b=i-1
        s=2*(m-i)+1
    print("."*b,"*"*s)
print(2340/9)

**digital root: 2+3+5=10=1

In [ ]:
n = int(input("Enter: "))
#while(n>9):
#s=0
#while(n>0):
 #   s += n%10
 #   n = n//10
#n=s
if(n%9==0):
    n=9
else:
    n=n%9
print(n)

sum=1+2+3+4+10+5+6+7+26+8+9..n terms

In [5]:
s,sum,k=0,0,1
n=int(input("Enter: "))
for i in range(1,n+1):
    if (i%5!=0):
        s+=k
        sum+=k
        k+=1
    else: 
        sum+=s
        s=0
print(sum)

Enter: 10
72

In [29]:
s='abcde'
print(s[::-2])
#print(s[-3:-1])
print(s[-1:-3:-1]) #-1=reverse

eca
ed

In [32]:
import math
a=4.6
print(math.ceil(a))
print(math.floor(a))
b=9
print(math.sqrt(b))
print(math.exp(3.0))
print(math.log(2.0))
print(math.pow(2.0,3.0))
print(math.sin(0))
print(math.cos(0))
print(math.tan(45))
print(abs(-4.5))

5
4
3.0
20.085536923187668
0.6931471805599453
8.0
0.0
1.0
1.6197751905438615
4.5

In [33]:
ms=math.sqrt
print(ms(16))

4.0

In [61]:
s='abCde'
print(s.capitalize())
print(s.swapcase())
print(s.lower())
print(s.upper(),'\n')
sa='12'
print(sa.isalpha())
print(sa.isalnum())
print(sa.isdigit())
print(sa.isnumeric())
print(sa.isupper())
print(sa.islower())
print(sa.find('1'))
#print(s.index('1'))   #exception generated when not found
print(sa.startswith('1'))
print(sa.startswith('1',0,1))

Abcde
ABcDE
abcde
ABCDE

False
True
True
True
False
False
0
True
True

In [63]:
my_str="university"
print(my_str.endswith("sity"))
print(my_str.endswith("ver"))

True
False

In [65]:
my_str="    calcutta   "
print(my_str,len(my_str))
print(my_str,my_str.lstrip(),len(my_str.lstrip()))
print(my_str,my_str.rstrip(),len(my_str.rstrip()))
print(my_str,my_str.strip(),len(my_str.strip()))

    calcutta    15
    calcutta    calcutta    11
    calcutta        calcutta 12
    calcutta    calcutta 8

In [66]:
my_str="@@@@calcutta%%%"
print(my_str,len(my_str))
print(my_str,my_str.lstrip("@"),len(my_str.lstrip('@')))
print(my_str,my_str.rstrip('%'),len(my_str.rstrip('%')))
print(my_str,my_str.strip('@%'),len(my_str.strip('@%')))

@@@@calcutta%%% 15
@@@@calcutta%%% calcutta%%% 11
@@@@calcutta%%% @@@@calcutta 12
@@@@calcutta%%% calcutta 8

In [67]:
my_str=" "
print(my_str.isspace())
my_str=" abc "
print(my_str.isspace())

True
False

In [70]:
my_str="Happy New Year 2018"
print(my_str)
print(my_str.replace('2018','2019'))

Happy New Year 2018
Happy New Year 2019

In [71]:
my_str="Wishing your Happy New Year"
my_list=my_str.split(" ")
for word in my_list:
    print(word)

Wishing
your
Happy
New
Year

In [86]:
n,s,k=input('enter:'),0,0
for i in range(1,len(n)+1):
    if n[-i]=='1':
        s+=(2**k)
    k+=1
print(s)

enter:111
7

## 2/1/2019

FUNCTIONS

In [1]:
#dealing with Python Functions
def my_addition(num1,num2):
    result = num1+num2
    print("Performing the addition operation..")
    return(result)
data1 = int(input("Enter the first number->"))
data2 = int(input("Enter the second number->"))
print("Sum is",my_addition(data1,data2))

Enter the first number->35338504399454
Enter the second number->9163950907
Performing the addition operation..
Sum is 35347668350361

In [5]:
#Returning Multiple values
def my_calculation(data1,data2):
    print("Performing four major calculations....")
    total = data1+data2
    dif=data1-data2
    prod=data1*data2
    quot = data1/data2
    return  total, dif, prod, quot
    #return data1+data2,data1-data2,data1*data2,data1/data2
print(my_calculation(5,4))
t,d,p,q=my_calculation(100,40)
print("Outputs are->",t,d,p,q)

Performing four major calculations....
(9, 1, 20, 1.25)
Performing four major calculations....
Outputs are-> 140 60 4000 2.5

Default Arguments

In [12]:
def f(a,b=200,c=300):
    print(a,b,c)
f(100,200,300)
f(100,200)
f(100)
f(c=1,b=2,a=3)

100 200 300
100 200 300
100 200 300
3 2 1

In [13]:
def f(a,b=None):
    print(a)
    if b is not None:
        print(b)
f(100,200)
print('....')
f(100)

100
200
....
100

In [35]:
def fnr(num):
    fact = num
    i=2
    while i<num:
        fact *= i
        i+=1
    return fact
print (fact_cal_nr(5))

120

In [32]:
def fr(num):
    if num==1 or num==0:
        return 1
    return num*fr(num-1)
print(fr(1))

1

In [36]:
def f(n,c):
    if c=='r':
        print('recursion..')
        print (fr(n))
    else:
        print('non recursion..')
        print(fnr(n))
f(5,'nr')
print(f(5,'r'))

non recursion..
120
recursion..
120
None

## Lambda Functions
### [anonymous-without any name]

In [42]:
s=lambda x:x*x
print(s(4))
add=lambda a,b:a+b
print(add(2,3))

16
5

In [43]:
outcome = 5>4 or 7>8
print(outcome)
outcome = 5>4 and 7>8
print(outcome)
outcome = 5>4 and 17>8
print(outcome)

True
False
True

In [65]:
a = 250
b = 150
print(a,b,a&b)
print(a,b,a|b)
print(a,b,a^b)
print(a,~a)

250 150 146
250 150 254
250 150 108
250 -251

In [64]:
print(0xfe)
print(0x0a)

254
10

In [70]:
l=['juice','tomatoes','potatoes','bananas'] #third bracket-[]
print('1st:',l[0])
print(l)
l2 = [x**2 for x in range(1,10)]
print(l2)
print(l[-3:-1])

1st: juice
['juice', 'tomatoes', 'potatoes', 'bananas']
[1, 4, 9, 16, 25, 36, 49, 64, 81]
['tomatoes', 'potatoes']

In [71]:
s=lambda x,y,z:x+y+z
print(s(1,2,3))

6

In [73]:
grocery_list=['juice','tomatoes','potatoes','bananas']
other_events=['car wash','car drive','walk','sleep']
print(grocery_list)
print(other_events)
to_do_list=grocery_list+other_events
print(to_do_list)
to_do_list=[grocery_list,other_events]
print(to_do_list)

['juice', 'tomatoes', 'potatoes', 'bananas']
['car wash', 'car drive', 'walk', 'sleep']
['juice', 'tomatoes', 'potatoes', 'bananas', 'car wash', 'car drive', 'walk', 'sleep']
[['juice', 'tomatoes', 'potatoes', 'bananas'], ['car wash', 'car drive', 'walk', 'sleep']]

In [74]:
print(grocery_list)
for i in grocery_list:
    print(i)

['juice', 'tomatoes', 'potatoes', 'bananas']
juice
tomatoes
potatoes
bananas

In [77]:
to_do_list = [grocery_list, other_events]
print (to_do_list)
for things in to_do_list:
    print(things)
    for thing in things:
        print(thing)

[['juice', 'tomatoes', 'potatoes', 'bananas'], ['car wash', 'car drive', 'walk', 'sleep']]
['juice', 'tomatoes', 'potatoes', 'bananas']
juice
tomatoes
potatoes
bananas
['car wash', 'car drive', 'walk', 'sleep']
car wash
car drive
walk
sleep

In [78]:
print(to_do_list[1][1:3])

['car drive', 'walk']

In [79]:
print(grocery_list)
grocery_list.append('onion')
print(grocery_list)

['juice', 'tomatoes', 'potatoes', 'bananas']
['juice', 'tomatoes', 'potatoes', 'bananas', 'onion']

In [80]:
print(grocery_list)
grocery_list.insert(1,'pickle')
print(grocery_list)

['juice', 'tomatoes', 'potatoes', 'bananas', 'onion']
['juice', 'pickle', 'tomatoes', 'potatoes', 'bananas', 'onion']

In [81]:
grocery_list.remove('pickle')
print(grocery_list)

['juice', 'tomatoes', 'potatoes', 'bananas', 'onion']

In [82]:
print(grocery_list)
grocery_list.sort()
print(grocery_list)

['juice', 'tomatoes', 'potatoes', 'bananas', 'onion']
['bananas', 'juice', 'onion', 'potatoes', 'tomatoes']

In [86]:
my_list = [1001, 'Abbas', 'Accountant', True, 2200.00]
#my_list.sort() String mixed no sort possible
print(my_list)

[1001, 'Abbas', 'Accountant', True, 2200.0]

In [90]:
my_list1 = ['100','amit','accountant','belgharia']
print(my_list1)
my_list1.sort()
print(my_list1)
my_list1.reverse()
print(my_list1)
del my_list1[2]
print(my_list1)

['100', 'amit', 'accountant', 'belgharia']
['100', 'accountant', 'amit', 'belgharia']
['belgharia', 'amit', 'accountant', '100']
['belgharia', 'amit', '100']

In [91]:
print(my_list)
del my_list
print(my_list)

[1001, 'Abbas', 'Accountant', True, 2200.0]

NameError: name 'my_list' is not defined

## Tuples

In [93]:
# dealing with tuples
# tuples are immutable and enclosed in ()
my_tuple = (1,2,'amit','male',34)
print(my_tuple)
print(my_tuple[2])
#my_tuple[2] = 'amitava'

(1, 2, 'amit', 'male', 34)
amit

In [97]:
print(my_tuple)
my_list=list(my_tuple)
my_list[2]='amitava'
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, 'amit', 'male', 34)
[1, 2, 'amitava', 'male', 34]
(1, 2, 'amitava', 'male', 34)

In [98]:
my_list=[44,33,22,11,66,55]
my_tuple=(44,33,22,11,66,55)
print(len(my_list),max(my_list),min(my_list))
print(len(my_tuple),max(my_tuple),min(my_tuple))

6 66 11
6 66 11

In [99]:
# dealing with dictonaries
diction_fruit = {"banana":"yellow",
                "apple":"red",
                "guava":"green",
                "grape":"black",
                "orange":"orange"}
print(diction_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange'}

In [106]:
#print(diction_fruit.keys())
#print(diction_fruit.values())
#print(diction_fruit.items())
my_list=list(diction_fruit)
print(my_list)
my_list=list(diction_fruit.items())
print(my_list)

['banana', 'apple', 'guava', 'grape', 'orange']
[('banana', 'yellow'), ('apple', 'red'), ('guava', 'green'), ('grape', 'black'), ('orange', 'orange')]

In [109]:
print(diction_fruit)
print(diction_fruit["guava"])
print(diction_fruit.get("guava"))
#print(diction_fruit['pineapple'])
diction_fruit['grape']='green'
print(diction_fruit)
diction_fruit['mango']='yellow'
print(diction_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange'}
green
green
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'green', 'orange': 'orange'}
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'green', 'orange': 'orange', 'mango': 'yellow'}

In [110]:
print(diction_fruit)
del diction_fruit['grape']
print(diction_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'green', 'orange': 'orange', 'mango': 'yellow'}
{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'orange': 'orange', 'mango': 'yellow'}

In [111]:
print(diction_fruit)
diction_fruit.clear()
print(diction_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'orange': 'orange', 'mango': 'yellow'}
{}

In [112]:
print(diction_fruit)
del diction_fruit
print(diction_fruit)

{}

NameError: name 'diction_fruit' is not defined

In [113]:
# dealing with dictonaries
diction_fruit = {"banana":"yellow",
                "apple":"red",
                "guava":"green",
                "grape":"black",
                "orange":"orange"}
print(diction_fruit)

{'banana': 'yellow', 'apple': 'red', 'guava': 'green', 'grape': 'black', 'orange': 'orange'}

In [114]:
try:
    print(diction_fruit['pineapple'])
except KeyError as e:
    print('Error',e,'occurred...')

Error 'pineapple' occurred...

In [115]:
try:
    l='a'
    s=l/2
except Exception as e:
    print('exception ',e)

exception  unsupported operand type(s) for /: 'str' and 'int'

## set - unordered,unique values,diff dt,{}

In [118]:
empty_set=set()
empty_set

set()

In [121]:
languages={'python','r','java'}
snakes=set(('cobra','viper','python'))
print(len(languages))
print(snakes)

3
{'cobra', 'viper', 'python'}

In [125]:
'python' in languages
'a' not in languages

True

In [126]:
languages

{'java', 'python', 'r'}

In [127]:
snakes

{'cobra', 'python', 'viper'}

In [131]:
#Intersect
languages & snakes
print(languages.intersection(snakes))

{'python'}

In [132]:
# Union
languages | snakes
print(languages.union(snakes))

{'cobra', 'java', 'viper', 'r', 'python'}

In [133]:
# Difference
languages-snakes
print(languages.difference(snakes))

{'java', 'r'}

In [134]:
snakes-languages

{'cobra', 'viper'}

In [137]:
#Symmetric Difference ie a SD b = a|b - a&b
print(snakes.symmetric_difference(languages))

{'cobra', 'java', 'viper', 'r'}

In [138]:
# modifying a set and it does not return a set
languages.add('sql')

In [139]:
languages

{'java', 'python', 'r', 'sql'}

In [144]:
languages.add(1)

In [145]:
languages

{1, 'python', 'r', 'sql'}

In [148]:
languages.remove(1)

In [149]:
languages.add('java')

In [152]:
languages.discard('c++')  #no error generated

In [151]:
try:
    languages.remove('c++')
except KeyError as e:
    print('Error',e,'occurred...')

Error 'c++' occurred...

In [156]:
languages.clear()
languages.update('122','344')  #distinct characters of its elements
print(languages)
languages.update('go','spark')
print(languages)

{'3', '4', '2', '1'}
{'o', '4', '3', '2', 'p', 'k', 'g', 's', '1', 'a', 'r'}

In [161]:
s=sorted(set([9,0,3,2,1,4,6,9,0,1]))
s.reverse()
sorted({11,45,3,2,7,3})

[2, 3, 7, 11, 45]

## 3/01/2019

In [1]:
# Object Oriented Programming
# dealing with class and objects...
# a class can have two types of variables -
# 1) Class variable and 2) Instance variable
# __->private _->protected no _ ->public
# self->this in c++, java (dummy object name)
# class variable act as a static variable ie, one time memory allocation
# All method is defined once, . is a membership operator

In [12]:
class My_Class:
    __classVar1 = 100
    __classVar2 = 200
    def __init__(self,data1,data2):# Constructor all instance variable is defined there
        self.__instVar1 = data1
        self.__instVar2 = data2
    def display(self):# self passed as one of the input argument
        print("ClassVar={} and ClassVar2={}".format(My_Class.__classVar1,My_Class.__classVar2))
        print("InstVar={} and InstVar2 ={}".format(self.__instVar1,self.__instVar2))
    def update(self, ndata1, ndata2):
        My_Class.__classVar1 = ndata1
        My_Class.__classVar2 = ndata2
object1 = My_Class(300,400)
object1.display()
object1.update(10,20)
object2 = My_Class(500,600)
object2.display()

ClassVar=100 and ClassVar2=200
InstVar=300 and InstVar2 =400
ClassVar=10 and ClassVar2=20
InstVar=500 and InstVar2 =600

In [18]:
class Animal:
    def __init__(self,name,height,weight,sound):
        self.__name=name
        self.__height=height
        self.__weight=weight
        self.__sound=sound
    def set_name(self,name):
        self.__name=name
    def set_height(self,height):
        self.__height=height
    def set_weight(self,weight):
        self.__weight=weight
    def set_sound(self,sound):
        self.__sound=sound
    def get_name(self):
        return self.__name
    def get_height(self):
        return self.__height
    def get_weight(self):
        return self.__weight
    def get_sound(self):
        return self.__sound
    def get_type(self):
        print ("Animal...")
    def displayAnimal(self):
        return '{} is {} cm tall ,{} kg and says {}'.format(self.__name,self.__height,self.__weight,self.__sound)
cat=Animal('white cat',33,10,'meow')
print(cat.displayAnimal())

white cat is 33 cm tall ,10 kg and says meow

In [27]:
class Dog(Animal):
    def __init__(self,name,height,weight,sound,owner):
        self.__owner=owner
        super(Dog,self).__init__(name,height,weight,sound)
    def set_owner(self,owner):
        self.__owner=owner
    def get_owner(self):
        return self.__owner
    def get_type(self):
        print('Dog')
    def displayDog(self):
        return '{} is {} cm tall, {} kg, says {} with owner {}'\
    .format(self.get_name(),self.get_height(),self.get_weight(),self.get_sound(),self.__owner)
    def multiple_sounds(self,how_many=None):
        if how_many is None:
            print(self.get_sound())
        else :
            print(self.get_sound()*how_many)
spot=Dog('Spot',53,27,'Ruff','Anup')
print(spot.displayDog())
spot.multiple_sounds(3)
spot.multiple_sounds()

Spot is 53 cm tall, 27 kg, says Ruff with owner Anup
RuffRuffRuff
Ruff

In [29]:
class Animal_Testing:
    def get_type(self,animal):
        animal.get_type()
test_animals=Animal_Testing()
test_animals.get_type(cat)
test_animals.get_type(spot)
spot.multiple_sounds(3)
spot.multiple_sounds()

Animal...
Dog
RuffRuffRuff
Ruff

In [ ]:
#Class can be related with other class as
# is a -> inheritance
# has_a -> aggregation(class having instances of other classes)
# as a ->
# tree, mango tree, gard

In [73]:
class Tree:
    def __init__(self,code,height,width,amount_spend):
        self.__code=code
        self.__height=height
        self.__width=width
        self.__amount_spend=amount_spend
    def get_amount_spend(self): 
        return self.__amount_spend
    def AnnualUpdate(self,htt,wdd,amtt):
        self.__height+=htt
        self.__width+=wdd
        self.__amount_spend+=amtt
    def DisplayTree(self):
        print('code is {} height is {} width is {} amount spent is {}'\
              .format(self.__code,self.__height,self.__width,self.__amount_spend))
        
t1=Tree("TR001",10,6,1200.00)
t1.DisplayTree()

code is TR001 height is 10 width is 6 amount spent is 1200.0

In [74]:
class MangoTree(Tree):
    def __init__(self,code,height,width,amount_spend,my_yield):
        super(MangoTree,self).__init__(code,height,width,amount_spend)
        self.__my_yield=my_yield
    def get_yield(self):
        return self.__my_yield
    def MangoTreeDisplay(self):
        super(MangoTree,self).DisplayTree()
        print('yield is {}'.format(self.__my_yield))
    def AnnualUpdate(self,htt,wdd,amtt,yyld):
        super(MangoTree,self).AnnualUpdate(htt,wdd,amtt)
        self.__my_yield+=yyld

m1=MangoTree("Man001",20.0,8.0,1200.00,1000)
m1.MangoTreeDisplay()
m1.AnnualUpdate(20.0,8.0,1200.00,1000)
m1.MangoTreeDisplay()

code is Man001 height is 20.0 width is 8.0 amount spent is 1200.0
yield is 1000
code is Man001 height is 40.0 width is 16.0 amount spent is 2400.0
yield is 2000

In [72]:
class Garden:
    def __init__(self,m1,m2,m3,t1,t2):
        self.__mango1=m1
        self.__mango2=m2
        self.__mango3=m3
        self.__tr1=t1
        self.__tr2=t2
    def total_yield(self):
        return self.__mango1.get_yield()+self.__mango2.get_yield()+self.__mango3.get_yield()
    def total_spent(self):
        return self.__tr1.get_amount_spend()+self.__tr2.get_amount_spend()+\
                       self.__mango1.get_amount_spend()+self.__mango2.get_amount_spend()+\
                       self.__mango3.get_amount_spend()
    def GardenDisplay(self):
        self.__mango1.MangoTreeDisplay();
        self.__mango2.MangoTreeDisplay();
        self.__mango3.MangoTreeDisplay();
        self.__tr1.DisplayTree();
        self.__tr2.DisplayTree();
        print("So the total amount yield = ",self.total_yield())
        print("So the total amount spent = ",self.total_spent())

g = Garden(MangoTree("HimSagar",20.0,8.0,1200.00,1000),\
            MangoTree("Chausa",21.0,9.0,1400.00,1200),\
            MangoTree("Langra",22.0,10.0,1600.00,1400),\
            Tree("Banyan",10,6,1200.00),\
            Tree("Palm",11,6.5,1400.00))
g.GardenDisplay()

code is HimSagar height is 20.0 width is 8.0 amount spent is 1200.0
yield is 1000
code is Chausa height is 21.0 width is 9.0 amount spent is 1400.0
yield is 1200
code is Langra height is 22.0 width is 10.0 amount spent is 1600.0
yield is 1400
code is Banyan height is 10 width is 6 amount spent is 1200.0
code is Palm height is 11 width is 6.5 amount spent is 1400.0
So the total amount yield =  3600
So the total amount spent =  6800.0

In [6]:
# Example no. 2
class Date:
    def __init__(self,year,month,day):
        self.__year = year
        self.__month = month
        self.__day = day
    def displayDate(self):
        return '{}/{}/{}'.format(self.__day,self.__month,self.__year)
d = Date(1990,10,25)
d.displayDate()

'25/10/1990'

In [14]:
class Television:
    def __init__(self,make,size,dop,isColor):
        self.__make=make
        self.__size=size
        self.__dop=dop
        self.__isColor=isColor
    def displayTelevision(self):
        print('Television maker is {} size is {} dop is {}'.format(self.__make,self.__size,self.__dop.displayDate(),self.__isColor),end='')
        if(self.__isColor):
            print(' is colorful')
        else:
            print(' not colorful')
tv1=Television("Sonodyne",21,Date(1998,8,25),True)
tv1.displayTelevision()

Television maker is Sonodyne size is 21 dop is 25/8/1998 is colorful

In [16]:
class Room:
    
    def __init__(self,name,length,breadth,height,\
                 fans,lights,windows,doors):
        self.__name = name
        self.__length = length
        self.__breadth = breadth
        self.__height = height
        self.__floorArea = length * breadth
        self.__wallArea = 2*height*(length+breadth)*0.80
        self.__fans = fans
        self.__lights = lights
        self.__windows = windows
        self.__doors = doors

    def displayRoom(self):
        print('The Room is {} with dimension {} x {} x {} and has {} fans, {} lights, {} windows, and {} doors'\
              .format(self.__name,self.__length,self.__breadth,self.__height,\
                                                       self.__fans,self.__lights,self.__windows,self.__doors))
    def get_floorArea(self):
        return self.__floorArea
r1=Room("Bed",10.0,16.0,10.0,2,2,3,3)
r1.displayRoom()
print(r1.get_floorArea())

The Room is Bed with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
160.0

In [28]:
class House:
    def __init__(self,doorNo,bed,dining,hall,kitchen,drawing,tv,doc):
        self.__doorNo = doorNo
        self.__doc = doc
        self.__br = bed
        self.__dr = dining
        self.__hr = hall
        self.__kr = kitchen
        self.__dw = drawing
        self.__tv = tv
        self.__area = self.__br.get_floorArea()+self.__dr.get_floorArea()+self.__hr.get_floorArea()+\
        self.__kr.get_floorArea()+self.__dw.get_floorArea()
        self.__PlinthArea=self.__area*1.50
        self.__groundArea=self.__area*1.75
    def displayHouse(self):
        print('The house has {} door no.'.format(self.__doorNo))
        self.__br.displayRoom()
        self.__dr.displayRoom()
        self.__hr.displayRoom()
        self.__kr.displayRoom()
        self.__dw.displayRoom()
        self.__tv.displayTelevision()
        print('The date of purchase is',self.__doc.displayDate())
        
r1=Room("Bed Room",10.0,16.0,10.0,2,2,3,3)
h1=House(1001,r1,Room("Dining Room",12.0,8.0,10.0,2,2,3,3),\
         Room("Hall TV Room",10.0,16.0,10.0,2,2,3,3),\
         Room("Kitchen Room",6.0,16.0,10.0,2,2,3,3),\
         Room("Drawing Room",12.0,8.0,10.0,2,2,3,3),\
         Television("Sonodyne",21,Date(1999,10,20),True),\
         Date(1999,10,20))
h1.displayHouse()

The house has 1001 door no.
The Room is Bed Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Dining Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Hall TV Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Kitchen Room with dimension 6.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Drawing Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
Television maker is Sonodyne size is 21 dop is 20/10/1999 is colorful
The date of purchase is 20/10/1999

In [22]:
class Park:
    def __init__(self,length,breadth):
        self.__ll = length
        self.__bb = breadth
        self.__area = length*breadth

    def displayPark(self):
        print('The park is {} x {}'.format(self.__ll,self.__bb))
pk1=Park(100,200)
pk1.displayPark()

The park is 100 x 200

In [29]:
class Block:
    def __init__(self,ll,bb,hh1,hh2,hh3,hh4,pk1):
        self.__length = ll
        self.__breadth = bb
        self.__area = ll*bb
        self.__h1 = hh1
        self.__h2 = hh2
        self.__h3 = hh3
        self.__h4 = hh4
        self.__pk = pk1
    def displayBlock(self):
        print("The area of the block is ",self.__area)
        print()
        self.__h1.displayHouse();
        print()
        self.__h2.displayHouse();
        print()
        self.__h3.displayHouse();
        print()
        self.__h4.displayHouse();
        print()
        self.__pk.displayPark();
bk1 = Block(400,100,
            House(1001,Room("Bed Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Dining Room",12.0,8.0,10.0,2,2,3,3),\
                  Room("Hall TV Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Kitchen Room",6.0,16.0,10.0,2,2,3,3),\
                  Room("Drawing Room",12.0,8.0,10.0,2,2,3,3),\
                  Television("Sonodyne",21,Date(2000,10,20),True),\
                  Date(1999,10,20)),\
            House(1002,Room("Bed Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Dining Room",12.0,8.0,10.0,2,2,3,3),\
                  Room("Hall TV Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Kitchen Room",6.0,16.0,10.0,2,2,3,3),\
                  Room("Drawing Room",12.0,8.0,10.0,2,2,3,3),\
                  Television("BPL",21,Date(2000,11,21),True),\
                  Date(1999,11,21)),\
            House(1003,Room("Bed Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Dining Room",12.0,8.0,10.0,2,2,3,3),\
                  Room("Hall TV Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Kitchen Room",6.0,16.0,10.0,2,2,3,3),\
                  Room("Drawing Room",12.0,8.0,10.0,2,2,3,3),\
                  Television("Onida",21,Date(2000,9,22),True),\
                  Date(1999,9,22)),\
            House(1004,Room("Bed Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Dining Room",12.0,8.0,10.0,2,2,3,3),\
                  Room("Hall TV Room",10.0,16.0,10.0,2,2,3,3),\
                  Room("Kitchen Room",6.0,16.0,10.0,2,2,3,3),\
                  Room("Drawing Room",12.0,8.0,10.0,2,2,3,3),\
                  Television("LG",21,Date(2000,12,23),True),\
                  Date(1999,12,23)),\
            Park(100,200))

bk1.displayBlock()

The area of the block is  40000

The house has 1001 door no.
The Room is Bed Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Dining Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Hall TV Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Kitchen Room with dimension 6.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Drawing Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
Television maker is Sonodyne size is 21 dop is 20/10/2000 is colorful
The date of purchase is 20/10/1999

The house has 1002 door no.
The Room is Bed Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Dining Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Hall TV Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Kitchen Room with dimension 6.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Drawing Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
Television maker is BPL size is 21 dop is 21/11/2000 is colorful
The date of purchase is 21/11/1999

The house has 1003 door no.
The Room is Bed Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Dining Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Hall TV Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Kitchen Room with dimension 6.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Drawing Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
Television maker is Onida size is 21 dop is 22/9/2000 is colorful
The date of purchase is 22/9/1999

The house has 1004 door no.
The Room is Bed Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Dining Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Hall TV Room with dimension 10.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Kitchen Room with dimension 6.0 x 16.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
The Room is Drawing Room with dimension 12.0 x 8.0 x 10.0 and has 2 fans, 2 lights, 3 windows, and 3 doors
Television maker is LG size is 21 dop is 23/12/2000 is colorful
The date of purchase is 23/12/1999

The park is 100 x 200